.img img {
    height: 130px;
    width: 130px;
}

.detail .btn{
    height: 30px;
    padding: 0;
    width: 30px;
}

.remove .btn{
    width: 100px;
    box-shadow: none;
    background-color: #0d6efd;
    color: white;
}

.text-end .btn{
    box-shadow: none;
    background-color: #198754;
    color: white;
}

.btn{
    box-shadow: none;
}